.pradaRankContainer {
  padding: 20px;
  padding-left: 230px;
  display: flex;
  justify-content: space-between;
}

.pradaRank > h4 {
  font-weight: 600;
  font-size: 22px;
}

.pradaRankNum {
  color: grey;
}

.pradaRankNum > span {
  font-size: 70px;
  font-weight: 600;
  margin-right: 5px;
  color: royalblue;
}

.pradaRankChart {
  display: flex;
}

.grammarlyBar {
  justify-content: center;
  width: 100%;
  display: flex;
}

.grammarlyBar > * {
  width: 16.666%;
  font-weight: 600;
  border: none;
  padding: 15px 25px;
  border-top: 2px lightgray solid;
  border-right: 2px solid lightgray;
  position: relative;
  background-color: white;
}

.grammarlyBarHidden {
  display: none;
  width: 70%;
  height: 5px;
  background-color: #0a1b50;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
}

.grammarlyBarSelected {
  display: block;
}

.grammarlyBar > button {
  display: flex;
  justify-content: center;
}

.overviewContainer {
  background-color: #f4f5fa;
  text-align: center;
}

.companyDescription {
  text-align: left;
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.companySummaryContainer {
  display: block;
  overflow: auto;
}

.companySummaryTitle {
  margin: 5%;
  display: block;
  font-size: 24px;
  color: #3b4f8c;
}

.companySummary {
  display: block;
  margin: 5%;
  font-size: 18px;
}

.companyIndustryContainer {
  display: block;
  overflow: auto;
}

.companyIndustryTitle {
  margin: 5%;
  display: block;
  font-size: 24px;
  color: #3b4f8c;
}

.companyIndustry {
  display: block;
  margin: 5%;
  font-size: 18px;
}

.companyAbout {
  text-align: left;
  display: inline-block;
  background-color: #ffffff;
  width: 35%;
  height: 750px;
  vertical-align: top;
  margin-top: 40px;
}

.companyAboutTitle {
  display: block;
  margin: 10%;
  color: #000000;
  font-size: 24px;
}

.companyWeb {
  display: block;
  margin: 10%;
}

.companyOfficialWebsite {
  display: block;
  color: #3b4f8c;
  font-size: 24px;
}

.companyOfficialWebsiteLink {
  display: block;
  color: #1170ff;
  font-size: 18px;
}

.companyHeadquarter {
  display: block;
  margin: 10%;
}

.companyHeadquarterLocation {
  display: block;
  color: #3b4f8c;
  font-size: 24px;
}

.companyHeadquarterLocationDetail {
  display: block;
  color: #000000;
  font-size: 18px;
}

.companySize {
  display: block;
  margin: 10%;
}

.companySizeTitle {
  display: block;
  color: #3b4f8c;
  font-size: 24px;
}

.companySizeDetail {
  display: block;
  color: #000000;
  font-size: 18px;
}

.date {
  display: block;
  margin: 10%;
}

.dateTitle {
  display: block;
  color: #3b4f8c;
  font-size: 24px;
}

.dateTitleDetail {
  display: block;
  color: #000000;
  font-size: 18px;
}

.newsBlock {
  width: 100%;
  text-align: left;
}

.news {
  display: block;
  color: #3b4f8c;
  margin-left: 12.5%;
  font-size: 24px;
}

.newscard {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsintro {
  text-align: left;
  background-color: #ffffff;
  width: 100%;
}

.newsname {
  padding: 10px;
  font-size: 18px;
}
